body {
    background-color: black;
}

body,
h1,
h5 {
    font-family: "Raleway", sans-serif
}

body,
html {
    height: 100%;
}

.bgimg {
    background-image: url('../images/mainbg.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}

.w3-bar-block .w3-bar-item {
    padding: 20px
}

#calculateBmi {
    margin-bottom: 15px;
}

.bold {
    font-weight: bold;
}

#bmiImage {
    max-width: 50%;
}